<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style1.css">
    <style>
        #inventory-list {
            width: 200px;
        }

        .inventory-item {
            display: block;
            margin: 5px 0px;
            background-color: #d3e3f8;
            width: 100%;
        }
    </style>
</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" style="border-bottom: 1px solid #e3dddd;" role="banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <span class="site-logo"><a href="/" class="h4">MyMediaList<span
                            class="text-primary">.</span> </a></span>
                </div>
                <div class="col-2">
                    <span class="site-logo"><a href="/resource" class="h3">Resource<span class="text-primary">.</span> </a></span>
                </div>
            </div>
        </div>
    </header>

    <div class="site-section">
        <div class="container">

            <div class="row">
                <!--我的清单列表-->
                <div class="col-lg-9" id="inventory-list">
                </div>

                <!--发布清单-->
                <div class="col-lg-3">
                    <div class="featured-user  mb-5 mb-lg-0">
                        <div class="">
                            <form id="resource-form" action="/resource/add" enctype="multipart/form-data" method="post"
                                  class="bg-white">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="name" class="text-black">Title <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="author" class="text-black">Author <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="author" name="author">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label  class="text-black">Cover <span
                                                class="text-danger">*</span></label>
                                        <div class="form-group text-center">
                                            <img id="preview-image" src="/image/upload.png" style="width: 192px; height: 192px;border:1px solid #ced4da"/>
                                            <input type="file" accept="image/" name="image" style="display: none;"/>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="form-group row">
                                <div class="col-lg-12" style="text-align: center">
                                    <button onclick="submit()" style="width: 100px" type="submit"
                                            class="btn btn-primary btn-lg">提交
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src='http://libs.baidu.com/jquery/1.7.2/jquery.min.js'></script>
<script src="http://libs.baidu.com/jqueryui/1.9.0/jquery-ui.min.js "></script>
<script src="/javascripts/aos.js"></script>
<script src="/javascripts/main.js"></script>

<script>

    $(function () {

        //获取错误信息
        let message = getQueryString('message')
        if (message) {
            confirm(message)
        }

        //获取资源下拉内容
        $.ajax({
            async: true,
            error: function (err) {
                // 出现错误
                alert("Error");
            },
            success: function (data) {
                worksDoc = ''
                data.data.forEach(item => {
                    worksDoc += (` <div class="inventory-item d-block d-md-flex podcast-entry bg-white mb-5"
                             data-id="${item.name}" data-aos="fade-up">
                            <img class="image" src="/works?url=${item.imageUrl}"/>
                            <div class="text">
                                <h3 class="font-weight-light"><a>${item.name}</a></h3>
                                <div class="text-white mb-3"><span class="text-black-opacity-05"><small>

                            </small></span>
                                </div>
                                <div class="text-white mb-3">
                                    <span class="text-black-opacity-05"><small><a>${item.author}</a></small></span>
                                </div>
                            </div>
                            <div style="padding: 10px">
                                <a href="/resource/deleteById?id=${item._id}"><img width="25px" height="25px"
                                                                                        src="/image/remove.png"/></a>
                            </div>
                        </div>`)
                })
                $('#inventory-list').html(worksDoc)
            },
            url: "/getResources",
            type: "get"
        })
    });

    //提交资源信息
    function submit() {
        var name = $('#name').val();
        var author = $('#author').val();
        if (!name) {
            alert("Please Input Title")
            return;
        }
        if (!author) {
            alert("Please Input Author")
            return;
        }
        $('#resource-form').submit();
    }


    //图片预览
    $('#preview-image').click(function () {
        var myFileIcon = $('[name="image"]');
        myFileIcon.trigger('click');
    });

    $('[name="image"]').bind('change', function () {
        var file = this.files[0];
        var rdr = new FileReader();
        rdr.onload = function () {
            $('#preview-image').attr('src', this.result);
        };
        rdr.readAsDataURL(file);
    });


</script>


</body>
</html>